<div class="container">
  <div class="row">
    <div class="col">
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">
            Bootstrap
          </a>
        </div>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Navbar</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="#">Features</a>
              <a class="nav-link" href="#">Pricing</a>
              <a class="nav-link disabled" aria-disabled="true">Disabled</a>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
  <div class="row">
    <div class="col">
      &nbsp;
    </div>
  </div>
  
  <form action="/cadastrar" method="post">
    <div class="row">
      <div class="col">
        Nome:
      </div>
      <div class="col">
        <input type="text" class="form-control" id="nome" name="nome">
      </div>
    </div>
    <div class="row">
      <div class="col">
        Endereço:
      </div>
      <div class="col">
        <input type="text" class="form-control" id="endereco" name="endereco">
      </div>
    </div>
    <div class="row">
      <div class="col">
        Bairro:
      </div>
      <div class="col">
        <input type="text" class="form-control" id="bairro" name="bairro">
      </div>
    </div>
    <div class="row">
      <div class="col">
        CEP:
      </div>
      <div class="col">
        <input type="text" class="form-control" id="cep" name="cep">
      </div>
    </div>
    <div class="row">
      <div class="col">
        Cidade:
      </div>
      <div class="col">
        <input type="text" class="form-control" id="cidade" name="cidade">
      </div>
    </div>
    <div class="row">
      <div class="col">
        Estado:
      </div>
      <div class="col">
        <input type="text" class="form-control" id="estado" name="estado">
      </div>
    </div>
    <div class="row">
      <div class="col">
        Observação:
      </div>
      <div class="col">
        <input type="text" class="form-control" id="observacao" name="observacao">
      </div>
    </div>

  <div class="row">
      <div class="col">
        &nbsp;
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button type="submit" class="btn btn-primary">Cadastrar</button>
      </div>
      <div class="col">
        <button type="button" class="btn btn-danger">Cancelar</button>
      </div>
    </div>
  </form>
</div>